<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Emsidi</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Cabang')"></nav>
<div class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <h2 th:text="'Cabang dengan nomor ' + ${noCabang} + ' berhasil ditambahkan'"></h2>
        <a class="mx-2 btn btn-dark" href="/">Kembali ke Home</a>
      </div>
    </div>
  </div>
</div>

</body>
</html>