<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Emsidi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"></head>
<body>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Update Cabang Emsidi</h2>
                <br>
                <form th:action="@{/pegawai/update}" th:object="${pegawai}" method="POST">
                    <input type="hidden" th:field="*{noPegawai}" />

                    Nama Pegawai : <br>
                    <input class="form-control" type="text" name="namaPegawai" th:value="*{namaPegawai}"/>
                    <br><br>

                    Jenis Kelamin : <br>
                    <input class="form-control" type="text" name="jenisKelamin" th:value="*{jenisKelamin}"/>
                    <p>0 untuk perempuan</p>
                    <p>1 untuk laki-laki</p>
                    <br><br>

                    Cabang : <br>
                    <input class="form-control" type="text" name="cabang" th:value="*{cabang.noCabang}"/>
                    <br><br>

                    <button class="mx-2 btn btn-dark" type="submit">Submit</button>
                    <a class="mx-2 btn btn-dark" href="/cabang/viewall">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>