<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Emsidi</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Home')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Update Password</h2>
                <br>
                <div>
                    <label>Password Lama</label>
                    <input class="form-control" type="password" name="oldpassword" id="oldpass" />
                    <br>

                    <label>Password Baru</label>
                    <input class="form-control" type="password" name="password" id="pass" />
                    <br>

                    <label>Konfirmasi Password Baru</label>
                    <input class="form-control" type="password" name="confirmpass" id="passConfirm" />
                    <br>
                    <button class="mx-2 btn btn-dark" type="submit" onclick="savePass()">Change Password</button>
                    <a class="mx-2 btn btn-dark" href="/">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="jquery.min.js"></script>
<script type="text/javascript">
    var serverContext = [[@{/}]];
        function savePass(){
            var pass = $("#pass").val();
            var valid = pass == $("#passConfirm").val();
            if(!valid) {
                $("#error").show();
                return;
            }
            $.post(serverContext + "user/updatepass",
                {password: pass, oldpassword: $("#oldpass").val()} ,function(data){
                    window.location.href = serverContext +"/home.html?message="+data.message;
                })
                .fail(function(data) {
                    $("#errormsg").show().html(data.responseJSON.message);
                });
        }
</script>
</body>

</html>