<!DOCTYPE html>
<html lang="en">
<head>
    <title>Emsidi</title>
    <meta charset="UTF-8">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Home')"></nav>

<div class="container">
    <h2>Daftar Seluruh User</h2>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>No</th>
            <th>Username</th>
            <th>Nama</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iterationStatus : ${listUser}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.nama}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role.role}"></td>
            <td>
                <a class="mx-2 btn btn-outline-dark" th:href="@{/user/delete/} + ${user.id}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/">Home</a>
</div>
</body>
</html>