<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Emsidi</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Cabang')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Detail Cabang</h2>
                <br>
                <p th:text="'Nomor Cabang : ' + ${cabang.noCabang}"></p>
                <p th:text="'Nama Cabang : ' + ${cabang.namaCabang}"></p>
                <p th:text="'Alamat Cabang : ' + ${cabang.alamatCabang}"></p>
                <p th:text="'Nomor Telepon Cabang : ' + ${cabang.noTeleponCabang}"></p>
                <p th:text="'Waktu Buka : ' + ${cabang.waktuBuka}"></p>
                <p th:text="'Waktu Tutup : ' + ${cabang.waktuTutup}"></p>
                <div th:if="*{listPegawai.size() != 0}">
                    <form th:action="@{/pegawai/delete}" th:object="${cabang}" method="POST">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>No Pegawai</th>
                                <th>Nama</th>
                                <th>Jenis Kelamin</th>
                                <th></th>
                                <th>Hapus</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="pegawai, iterationStatus : ${listPegawai}"
                                th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                                <td th:text="${iterationStatus.count}"></td>
                                <td th:text="${pegawai.noPegawai}"></td>
                                <td th:text="${pegawai.namaPegawai}"></td>
                                <td th:if="${pegawai.jenisKelamin} == 1">Laki-laki</td>
                                <td th:if="${pegawai.jenisKelamin} == 0">Perempuan</td>
                                <td>
                                    <a class="mx-2 btn btn-dark" th:href="@{/pegawai/update/} + ${pegawai.noPegawai}">Update Pegawai</a>
                                </td>
                                <td>
                                    <input class="form-check" type="checkbox"
                                           th:field="*{listPegawai}" th:value="${pegawai.noPegawai}"
                                           id="flexCheckDefault">
                                    <input type="hidden" th:field="*{noCabang}"/>
                                    <input type="hidden" th:field="*{waktuBuka}"/>
                                    <input type="hidden" th:field="*{waktuTutup}"/>
<!--                                    <a class="btn btn-primary" th:href="@{/pegawai/delete/} + ${pegawai.noPegawai}">Delete Pegawai</a>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <input type="submit" value="Delete yang dipilih" class="btn btn-danger">
                    </form>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>No Menu</th>
                        <th>Nama Menu</th>
                        <th>Deskripsi Menu</th>
                        <th>Sedang Tersedia</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="menu, iterationStatus : ${listMenu}">
                        <td th:text="${menu.noMenu}"></td>
                        <td th:text="${menu.namaMenu}"></td>
                        <td th:text="${menu.deskripsiMenu}"></td>
                        <td th:if="${menu.isAvailable == true}">YA</td>
                        <td th:if="${menu.isAvailable == false}">TIDAK</td>
                    </tr>
                    </tbody>
                </table>
                <div th:unless="*{listPegawai.size() != 0}">
                    <h2 th:text="'Tidak ada pegawai'"></h2>
                </div>
                <br>
            </div>
        </div>
    </div>
    <a class="mx-2 btn btn-dark" th:href="@{/pegawai/add/} + ${cabang.noCabang}">Tambah Pegawai</a>
    <a class="mx-2 btn btn-dark" href="/cabang/viewall">Kembali</a>
</div>

</body>

</html>